// Reset básico
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #aeaeae;
    color: #070707;
    padding: 90px;
  }
  
  section {
    max-width: 1600px;
    margin: 0 auto;
    text-align: center; // Centraliza o texto no título
  
    h1 {
      font-size: 2rem;
      margin-bottom: 30px;
      display: flex;
      justify-self: start;
      align-items: start;
      gap: 10px;

      &::after { // Adiciona o emoji depois do texto
        content: '🔥';
        margin-left: 5px;
      }
    }
  
    // Estilização para os itens abaixo do título
    .grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr); // Quatro colunas
      gap: 25px; // Espaçamento entre os itens
      margin-top: 20px; // Espaçamento entre o título e a grade
    

       // Para deixar os itens mais largos sem mudar a quantidade de colunas
       grid-auto-columns: minmax(200px, 1fr); // Ajusta a largura mínima e máxima de cada coluna
    }
  }
  
  article {
    background: #fff;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
  
    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    }
  
    img {
      max-width: 70%;
      height: auto;
      border-radius: 8px;
    }
  
    h2 {
      font-size: 1rem;
      margin: 10px 0;
      color: #555;
    }
  
    h3 {
      font-size: 1.2rem;
      margin: 5px 0;
      color: tomato;
    }
  
    p {
      font-size: 0.9rem;
      color: #666;
    }
  }
  